name: Build & Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'

      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup pnpm
        run: |
          npm install -g pnpm

      - run: pnpm install

      - run: pnpm test

      - name: Build Project
        run: |
          pnpm build

      - name: Release Project
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm release
